.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

span.hostname {
	color: green;
}

span.filename {
	color: blue;
}

span.excerpt {
	color: grey;
}

span.excerpt > em {
	font-weight: bold;
	font-style: normal;
}
