<!doctype html>
<html>
<head>
	<title>Nivlheim</title>
{{template "common_head.html"}}
</head>
<body>
{{template "logo"}}

<p>
<h3>System status</h3>
<span class="keyfigure">{{.filesLastHour}}</span>
files were collected during the last hour.<br>
<span class="keyfigure">{{.totalMachines}}</span>
machines in the system.<br>
<span class="keyfigure">{{.reportingPercentage}}%</span>
of machines sent in files during the last hour.<br>
</p>

{{if .machines}}
{{template "searchbox" .}}
<p>
<h3>Machines</h3>
{{range .machines}}
<a href="/browse?h={{.}}">{{.}}</a><br>
{{end}}
</p>
{{end}}

</body>
</html>

{{define "logo"}}
<div id="logo"><a href="/">Nivlheim</a></div>
{{end}}
