<!doctype html>
<html>
<head>
	<title>Nivlheim</title>
{{template "common_head.html"}}
</head>
<body>
{{template "logo"}}
{{template "searchbox" .}}

<p>
{{.count}} hits
</p>

{{range .hits}}
<p>
	<a href="/browse?h={{.Hostname}}"><span class="hostname">
		{{.Hostname}}</span></a>:
	<span class="filename"><a href="/browse?fid={{.Fileid}}">
		{{.Filename}}</a></span><br>
	<span class="excerpt">{{.Excerpt}}</span>
</p>
{{end}}

</table>
</body>
</html>

{{define "searchbox"}}
<form method="get" action="/search">
<input name="q" type="text" size="30" value="{{.q}}">
<button type="submit">Search</button>
</form>
{{end}}
