[Unit]
Description=Nivlheim system service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/sbin/nivlheim_service
Restart=always
RestartSec=10s
User=nivlheim
Group=nivlheim

[Install]
WantedBy=multi-user.target
