[Unit]
Description=Nivlheim system service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/go run /var/nivlheim/jobs.go
Restart=True

[Install]
WantedBy=multi-user.target
