Source: nivlheim
Section: admin
Priority: extra
Maintainer: Petter Reinholdtsen <petter.reinholdtsen@usit.uio.no>
Build-Depends: debhelper (>= 9~),
	       quilt
Standards-Version: 2.0.2
Homepage: https://github.com/usit-gd/nivlheim
Vcs-Git: git://github.com/usit-gd/nivlheim.git
Vcs-Browser: https://github.com/usit-gd/nivlheim

Package: nivlheim-client
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
 , ca-certificates
 , libwww-perl | libhttp-message-perl
 , libio-socket-inet6-perl
 , libio-socket-ssl-perl
 , libnet-dns-perl
 , libnetaddr-ip-perl
Description: Client submitting information to a nivlheim server
 Report information about the machine to a central location to
 track machine status.
