Source: nivlheim
Section: admin
Priority: extra
Maintainer: Petter Reinholdtsen <petter.reinholdtsen@usit.uio.no>
Build-Depends: debhelper (>= 9~),
	       quilt
Standards-Version: 1.9.3
Homepage: http://nivlheim.uio.no/
Vcs-Git: git://git.uio.no/nivlheim.git
Vcs-Browser: http://git.uio.no/git/?p=nivlheim.git;a=tree

Package: nivlheim-client
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
 , ca-certificates
 , libwww-perl | libhttp-message-perl
 , libio-socket-inet6-perl
 , libio-socket-ssl-perl
 , libnet-dns-perl
 , libnetaddr-ip-perl
Description: Client submitting information to a nivlheim server
 Report information about the machine to a central location to
 track machine status.
