Source: nivlheim
Section: admin
Priority: optional
Maintainer: Øyvind Hagberg <oyvind.hagberg@usit.uio.no>
Build-Depends: debhelper (>= 11~),
	       quilt
Standards-Version: 4.1.1
Homepage: https://github.com/unioslo/nivlheim
Vcs-Git: git://github.com/unioslo/nivlheim.git
Vcs-Browser: https://github.com/unioslo/nivlheim

Package: nivlheim-client
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
 , ca-certificates
 , libwww-perl | libhttp-message-perl
 , libio-socket-inet6-perl
 , libio-socket-ssl-perl
 , libnet-dns-perl
 , libnetaddr-ip-perl
 , libyaml-perl
Description: Client submitting information to a nivlheim server
 Report information about the machine to a central location to
 track machine status.
