html {
	background-image: url('images/background.png');
	background-repeat: repeat;
	background-color: rgba(255,255,255,0.5);
}

hr {
	background-color: #999;
}

p {
	margin-bottom: 0.5em;
}

th {
	padding-right: 1em;
}

div#searchResult span.excerpt b {
	font-weight: normal;
	font-style: normal;
	background-color: rgba(255,255,200,0.6);
}

div.filecontent {
	white-space: pre;
	font-family: monospace;
	background-color: rgba(0,0,0,0.1);
}

div.filecontent del {
	background-color: rgba(255,0,0,0.3);
	text-decoration: line-through;
}

div.filecontent ins {
	background-color: rgba(0,255,0,0.3);;
	text-decoration: underline;
}

.color-approve {
	color:#060;
}

.color-deny {
	color:#600;
}

.color-warning {
	color: #DA0;
}

a.pagination-next, a.pagination-previous, a.pagination-link {
	background-color: rgba(255,255,255,0.4);
}

span.pagination-ellipsis {
	color: #555;
}

.is-not-displayed {
	display: none;
}

.position-absolute {
	position: absolute;
}

.strikethrough {
	text-decoration: line-through;
}

/* By default, the Bulma navbar doesn't have a background when it is transparent.
   Add a semi-transparent background here. */
nav.navbar.is-transparent {
	background-color: rgba(255,255,255,0.4);
	background-image: none;
}

table.table.is-transparent, button.button.is-transparent {
	background-color: rgba(255,255,255,0.15);
}

table.table.is-transparent.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: rgba(255,255,255,0.25);
}

table.table.is-transparent.is-hoverable tbody tr:hover {
	background-color: rgba(255,255,255,0.30);
}

.underline-warning {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: hsl(48, 100%, 67%);
}

label.checkbox > input[type=checkbox] {
	transform: scale(1.3);
}

/* Make the text in the labels for checkboxes unselectable,
   so it won't get selected when you click on it to toggle the checkbox. */
label.checkbox {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

aside.menu > ul.menu-list > li > a {
	padding-top: 1px;
	padding-bottom: 1px;
}
