<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-narrow">
				<aside class="menu">
					<p class="menu-label">
						Operating systems
					</p>
					<ul class="menu-list">
						{{#each os}}
						<li><a class="os"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
					<p class="menu-label">
						Manufacturers
					</p>
					<ul class="menu-list">
						{{#each manufacturer}}
						<li><a class="manufacturer"><span>{{@key}}</span><span> ({{.}})</span></a></li>
						{{/each}}
					</ul>
				</aside>
			</div>
			<div class="column">
				<div id="hostlist"></div>
			</div>
		</div>
	</div>
</section>
