<section class="section">
	<div class="container">
		<h1 class="title is-4">Browse</h1>
		<div class="field is-grouped is-grouped-multiline">
			{{#each .}}
			<div class="control">
				<div class="buttons has-addons">
					<a class="button" href="/#/hostgroup/{{urlescape @key}}">{{@key}}</a>
					<a class="button is-info" href="/#/hostgroup/{{urlescape @key}}">{{this}}</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
