{{#if awaitingapproval}}
<hr>
<h1 class="title is-4">Waiting for approval</h1>
<h1 class="subtitle is-6">
	These machines are from ip address ranges not covered
	by the ruleset, and must be manually approved/denied.
</h1>
{{#each awaitingapproval}}
<article class="media">
	<figure class="media-left">
		<p class="image is-64x64">
			<span class="icon"><i class="fas fa-plus fa-lg"></i></span>
			<span class="icon"><i class="fas fa-server fa-lg"></i></span>
		</p>
	</figure>
	<div class="media-content">
		<table>
			<tr><th>IP address</th>
				<td>{{ipaddress}}</td></tr>
			<tr><th>Reverse DNS</th>
				<td>{{reversedns}}</td></tr>
			<tr><th>Hostname from OS</th>
				<td>{{oshostname}}</td></tr>
			<tr><th>Name in Nivlheim</th><td>
				<input class="input" type="text" value="liksom.local"></td></tr>
			<tr><td></td><td>
				<button class="button">
					<span class="icon is-small">
						<i class="fas fa-thumbs-up color-approve"></i>
					</span>
					<span>Approve</span>
				</button>
				<button class="button">
					<span class="icon is-small">
						<i class="fas fa-thumbs-down color-deny"></i>
					</span>
					<span>Deny</span>
				</button>
			</td></tr>
		</table>
	</div>
</article>
{{/each}}
{{/if}}
