<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column">
				<h1 class="title is-4">System status</h1>
				<h1 class="subtitle is-6"></h1>
				<div id="placeholder_systemstatus">
					<br>
					<span class="icon">
						<i class="fas fa-lg fa-spinner fa-pulse"></i>
					</span>
				</div>
			</div>
			<div class="column">
				<h1 class="title is-4">Latest machines</h1>
				<h1 class="subtitle is-6"></h1>
				<div id="latestmachines"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<hr>
		<h1 class="title is-4">Search</h1>
		<h1 class="subtitle is-6"></h1>
		<div class="field has-addons">
			<div class="control has-icons-left">
				<input class="input" type="text" name="q"
					id="search" placeholder="Search for...">
				<span class="icon is-small is-left">
					<i class="fas fa-search"></i>
				</span>
			</div>
			<div class="control">
				<button id="searchButton" class="button is-info">Search</button>
			</div>
		</div>
	</div>
	<div class="container" id="placeholder_approval"></div>
</section>
