<h1 class="title is-4">DNS</h1>
<h1 class="subtitle is-6">Automatic approval and naming of new machines</h1>
<div class="columns">
	<div class="column">
		<table class="table is-transparent">
		{{#each ipRanges}}
		<tr>
			<td>
				{{#if useDns}}
				<span class="tag is-dark">DNS</span>
				{{/if}}
			</td>
			<td>{{ipRange}}</td>
			<td><i>{{comment}}</i></td>
			<td>
				<button class="button is-outlined is-transparent"
					onclick="restDelete(this,'/api/v0/settings/ipranges/{{ipRangeId}}')">
					<i class="far fa-trash-alt"></i>
				</button>
			</td>
		</tr>
		{{/each}}
		</table>
		{{#if ipranges}}<hr>{{/if}}
		<form method="POST" action="/api/v0/settings/ipranges">
			<div class="field">
				<label class="label">IP range (CIDR notation)</label>
				<div class="control">
					<input class="input iprange" name="ipRange" required
						type="text" placeholder="123.456.789.0/24">
					<span data-error-for="ipRange" class="has-text-danger"></span>
				</div>
			</div>
			<div class="field">
				<label class="label">Comment or description</label>
				<div class="control">
					<input class="input" name="comment"
						type="text" placeholder="Comment">
				</div>
			</div>
			<div class="field">
				<label class="checkbox">
					<input type="checkbox" name="useDns">
					Use DNS as authorative source for machine names for this ip range
				</label>
			</div>
			<input type="submit" class="button is-primary" value="Add new IP range">
		</form>
	</div>
	<div class="column"></div>
</div>
