<section class="section">
	<div class="container">
		<div class="field has-addons">
			<div class="control has-icons-left">
				<input class="input" type="text" name="q"
					id="search" placeholder="Search for..."
					value="{{query}}">
				<span class="icon is-small is-left">
					<i class="fas fa-search"></i>
				</span>
			</div>
			<div class="control">
				<button id="searchButton" class="button is-info">Search</button>
			</div>
		</div>
		<div class="columns">
			<div id="searchResultHostnames" class="column is-narrow"></div>
			<div class="column">
				<div id="searchSpinner" class="is-not-displayed position-absolute">
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span class="icon">
						<i class="fas fa-cog fa-3x fa-spin"></i>
					</span>
				</div>
				<div id="searchResult">
				</div>
			</div>
		</div>
	</div>
</section>
