<section class="section">
	<div class="container">
		<h1 class="title is-4">Tasks</h1>
		<a class="button is-primary" id="resetWaitTimeButton">
		Reset the waiting time for all failed tasks</a>
		<span data-error-for="resetWaitingTimeForFailedTasks" class="has-text-danger"></span>
		<span data-saved-for="resetWaitingTimeForFailedTasks" class="has-text-info"></span>
	</div>
	<br>
	<div class="container" id="placeholder_customfields"></div>
	<br>
	<div class="container" id="placeholder_approval"></div>
</section>
